#container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
 #container button{
   padding: 20px 40px;
   border-color: white;
   font-size: 28px;
   background-color: rgba(27, 27, 231, 0.942);
   color: white;
 }